body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #292929;
    overflow: hidden;
}

.wwdc-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 1400px;
    width: 95%;
    height: 95%;
}


@media (max-width: 767px) {
    img {
        content: url('./images/forMobile.jpg')
    }
}